  footer{
    display: block !important;
    bottom: 0;
  .footer-div{
      background-color: #77be00;
      width: 100%;

      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
  #thanks {
    margin: 2em;
  }
  #iconsFooter {
    display: flex;
    flex-direction: row;

    //justify-content: space-around;
    gap: 10px;
    margin: 2em;
    a,
    a:link,
    a:active {
      text-decoration: none;
      color: #042261;
    }
  }
}

 }