.container-clientes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    background-image: url(devs.jpg);
    background-repeat: no-repeat;
    width: 100% ;
    height: 700px ;


}