.container-clientes{
    color:red;
    display: flex;
    flex-direction: column;
    
    gap: 50px;
    align-items: center;
    justify-content: center;
    background-image: url(devs.jpg);
    background-repeat: no-repeat;
    width: 100% ;
    height: 1100px ;
    .clientes{
        display: flex;
        flex-direction: column;
        img{
            width: 100%;
            border-radius: 5%;
        
        }
    }
    .sobre{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .sobre-text{
            background-color: aliceblue;
            width: 700px ;
            height: 500px;
            border-radius: 5%;
        }
    }

}